table,
tr,
td,
input
{
  background-color: black;
  margin: 2px;
  padding: 10 px;
  color: lime;
  font-family: monospace;
  font-size: inherit;
}
input{
  border: 0;
}
html,body,#root{
  height:100%;
  width:100%;
  font-family: monospace;
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
}
#mainBody{
  background-color: black;
  color: lime;
  width: 50%;
  margin: 0 auto;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#HeaderMain,
#HeaderNotLoggedIn{
  background-color: black;
  font-size: 20px;
  height: 10%;
  flex-shrink: 0;
  padding-left: 5px;
  }
#HeaderMain{
  border-bottom: 1px solid lime;
}
#FooterMain{
  border-top: 1px solid lime;
  height: 10%;
  flex-shrink: 0;
  background-color: black;
}
#FooterText{
  flex: 1;
  color: lime;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  justify-content: center;

}
#FooterText table{
  color: lime;
  flex: 1;
  text-align: center;
  font-size: 20px;
}
#FooterMiddle{
  border-left: 1px solid lime;
  border-right: 1px solid lime;
}
#FooterText table:hover{
  color:inherit;
}

#NotificationTable{
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  min-height: 80%;
  max-height: 80%;
  flex: 1;
  scrollbar-gutter: stable;
  scrollbar-width: auto;
  scrollbar-color: black lime;
}

#NotificationTableEntries,
#NotificationTableEntries table,
#NotificationTableEntries tr,
#NotificationTableEntries td
{
  position: relative;
  background-color: black;
  outline: 2px;
  margin: 2px;
  padding: 10 px;
  color: lime;
}
#NotificationTableEntries::after{
  content: "";
  position: absolute;
  transform: translateX(2%);
  border-bottom: 1px solid lime;
  border-top: 1px solid lime;
  width: 95%;
}
#NotificationTableEntries:hover,
#NotificationTableEntries:hover table,
#NotificationTableEntries:hover tr,
#NotificationTableEntries:hover td{
  background-color: lime;
  margin: 2 px;
  padding: 10 px;
  color: black;

}
#NotificationTableEntries:hover::after{
  content: "";
  border: 0px;
}
#NotificationTableEntries{
  border: 1px solid black;
}
#loginFormUsername,
#loginFormPassword{
  background-color: inherit;
}
#loginFormLabelUsername{
  display: block;
  position: relative;
  width: max-content;
  padding: 0.75em 0 0.25em 0.75em;
  margin: 1rem 0;
  text-align: center;
  line-height: 0.5rem;
}
#loginFormLoginButton{
  background-color: black;
  color: lime;
  width: 200px;
  height: 50px;
  border: 1px outset lime;
}
#loginFormLoginButton:active,
#loginFormLoginButton:hover{
  background-color: lime;
  color: black;
  border: 1px outset black;
}